.title{
	
}

.title h1 {
	margin-bottom: 0px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #ededed;
}